<mat-expansion-panel class="stock-ratios">
  <mat-expansion-panel-header>
    <mat-panel-title><h3>Stock Ratios</h3></mat-panel-title>
  </mat-expansion-panel-header>
  <div fxLayout="column">
    <div>
      <app-financial-chart [data]="ratios" type="basic"></app-financial-chart>
    </div>
    <div>
      <app-financial-chart [data]="ratios" type="profit"></app-financial-chart>
    </div>
    <div>
      <app-financial-chart [data]="ratios" type="debt"></app-financial-chart>
    </div>
    <div>
      <app-financial-chart [data]="ratios" type="price"></app-financial-chart>
    </div>
  </div>
</mat-expansion-panel>
