<mat-expansion-panel class="stock-performance">
  <mat-expansion-panel-header>
    <mat-panel-title><h3>Performance</h3></mat-panel-title>
  </mat-expansion-panel-header>
  <div class="content" fxLayout="column">
    <div class="cash-flow">
      <app-financial-chart
        [data]="cashFlow"
        type="cashFlow"
      ></app-financial-chart>
      <div class="explanation"></div>
    </div>
    <div class="balance-sheet">
      <app-financial-chart
        [data]="balanceSheet"
        type="balanceSheet"
      ></app-financial-chart>
      <div class="explanation"></div>
    </div>
    <div class="income-statement">
      <app-financial-chart
        [data]="incomeStatement"
        type="incomeStatement"
      ></app-financial-chart>
      <div class="explanation"></div>
    </div>
  </div>
</mat-expansion-panel>
