@import "../../styles.scss";

.home-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  .home-header {
    min-height: 10rem;
    width: 100%;
    background-color: $primary;
    text-align: center;
    padding-top: 5rem;
    color: $app-white;
    p {
      cite {
        font-size: 2rem;
      }
    }
  }
  .container {
    margin: 7rem 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    button {
      height: 3rem;
      width: 15rem;
    }
  }
}
