<div class="home-container">
  <div class="home-header">
    <p>
      <cite>
        <q> Everybody is a genius in a bull market </q>
      </cite>
    </p>
    <p>-- Mark Cuban</p>
  </div>
  <div class="container">
    <button mat-stroked-button routerLink="./app" color="primary">
      Go To Dashboard
    </button>
    <button mat-stroked-button routerLink="./app/analysis" color="primary">
      Start Analysing
    </button>
  </div>
</div>
