<!-- Will add in the if all the input from the component -->
<div class="stock-report" *ngIf="dcf || news || cashFlow || ratios">
  <mat-accordion multi="true">
    <app-stock-valuation [dcf]="dcf" expanded="true"></app-stock-valuation>
    <app-stock-news [news]="news"></app-stock-news>
    <app-stock-performance
      [cashFlow]="cashFlow"
      [incomeStatement]="incomeStatement"
      [balanceSheet]="balanceSheet"
    ></app-stock-performance>
    <app-stock-ratios [ratios]="ratios"></app-stock-ratios>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Self aware panel </mat-panel-title>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
