<mat-expansion-panel class="stock-news">
  <mat-expansion-panel-header>
    <mat-panel-title><h3>Latest News</h3></mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list>
    <mat-list-item *ngIf="news && news.length === 0"
      >We were not able to retrieve the latest news, we are sorry for the
      inconvenience.</mat-list-item
    >
    <mat-list-item *ngFor="let sNews of news">
      <img matListAvatar [src]="sNews.image" [alt]="sNews.title" />
      <h3 matLine>
        <a [href]="sNews.url" target="_blank">{{ sNews.title }}</a>
      </h3>
      <p matLine>
        <span> {{ sNews.site }} </span>
        <span> -- {{ sNews.publishedDate | date }} </span>
      </p>
    </mat-list-item>
  </mat-list>
</mat-expansion-panel>
