@import "../styles.scss";

.bullstreet-app {
  display: flex;
  flex-direction: column;
  .toolbar {
    margin: 0;
    position: sticky;
    z-index: 100;
    width: 100%;
    box-shadow: 0 0.3rem 0.5rem -0.2rem rgba(#000000, 0.2),
      0 0.6rem 1rem 0 rgba(#000000, 0.14), 0 0.2rem 1.8rem 0 rgba(#000000, 0.12);
    a {
      text-decoration: none;
      color: $app-white;
    }
    span {
      text-shadow: -1px 0 $app-white, 0 1px $app-white, 1px 0 $app-white,
        0 -1px $app-white;
      color: $primary;
    }
  }
}
