<div class="bullstreet-app">
  <p class="toolbar">
    <mat-toolbar color="primary">
      <a routerLink="">
        <span>{{ title }}</span>
      </a>
    </mat-toolbar>
  </p>
  <div class="app-container">
    <router-outlet></router-outlet>
  </div>
</div>
