<div class="stock-analysis">
  <div class="header">
    <app-ticker-search
      [autoComplete]="false"
      (selectedTicker)="searchTicker($event)"
    ></app-ticker-search>
  </div>
  <div fxLayout="row" fxLayoutGap="1rem" class="container">
    <div fxHide.xs fxFlex="1 1 calc(5rem)" class="profile">
      <app-stock-profile
        *ngIf="profile$ | async"
        [profile]="profile$ | async"
      ></app-stock-profile>
      <p
        *ngIf="
          (profile$ | async) === (false || null || undefined) &&
          (profileLoading$ | async) === (false || null || undefined) &&
          (profileLoaded$ | async)
        "
      >
        Sorry we don't have <strong>{{ ticker.toUpperCase() }}</strong> in our
        database
      </p>
      <mat-spinner diameter="30" *ngIf="profileLoading$ | async"></mat-spinner>
    </div>
    <div fxFlex="3 3 calc(5rem)" class="analysis">
      <app-stock-report
        [dcf]="dcf$ | async"
        [news]="news$ | async"
        [cashFlow]="cashFlow$ | async"
        [balanceSheet]="balanceSheet$ | async"
        [incomeStatement]="incomeStatement$ | async"
        [ratios]="ratios$ | async"
      ></app-stock-report>
    </div>
  </div>
</div>
