@import "../../styles.scss";

.stock-analysis {
  background-color: $app-white;

  .header {
    display: flex;
    justify-content: center;
    app-ticker-search {
      width: 20rem;
      padding: 1.5rem 0;
    }
  }
  .container {
    margin: 1rem;
    border-radius: 0.4rem;
  }
}
