<div class="ticker-search">
  <mat-form-field class="search-form">
    <mat-label>Ticker</mat-label>
    <input
      type="text"
      placeholder="Enter a ticker"
      aria-label="Ticker"
      matInput
      [matAutocomplete]="auto"
      (keyup.enter)="search()"
      [formControl]="ticker"
    />
    <button mat-button matSuffix mat-icon-button (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
    <mat-autocomplete
      #auto="matAutocomplete"
      autoActiveFirstOption
      (optionSelected)="search()"
    >
      <mat-option
        *ngFor="let ticker of tickers$ | async | tickerFilter: ticker.value"
        [value]="ticker.symbol"
      >
        <span>{{ ticker.exchangeShortName }}:{{ ticker.symbol }}</span> -
        <small> {{ ticker.name }}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
