@import "../../styles.scss";

.stock-valuation {
  h3 {
    font-weight: 500;
  }
  .content {
    .explanation {
      padding-left: 1rem;
      span {
        text-decoration-color: $primary;
        color: $primary;
        mat-icon {
          font-size: 1.2rem;
        }
      }
      .bad {
        color: $secondary;
      }
      .good {
        color: $primary;
      }
      strong {
        font-weight: 500;
      }
    }
  }
}
