<mat-expansion-panel class="stock-valuation" expanded="expanded">
  <mat-expansion-panel-header>
    <mat-panel-title><h3>Share Price and Valuation</h3></mat-panel-title>
  </mat-expansion-panel-header>
  <div class="content" fxLayout.lt-md="column" fxLayout="row" *ngIf="validDcf">
    <app-stock-chart [options]="options"></app-stock-chart>
    <div class="explanation">
      <p>
        <span class="good" *ngIf="ratio > 0">
          <mat-icon>thumb_up_off_alt</mat-icon>
          {{ ratio | valuationPipe }} Intrinsic Value:</span
        >
        <span class="bad" *ngIf="ratio < 0">
          <mat-icon>thumb_down_off_alt</mat-icon>
          {{ ratio | valuationPipe }} Intrinsic Value:</span
        >
        {{ dcf.symbol.toUpperCase() }} is trading
        {{ (ratio | valuationPipe).toLowerCase() }} it intrinsic value
        <strong>{{ dcf.dcf.toFixed(2) }}</strong>
      </p>
      <p class="good" *ngIf="ratio >= 0.15">
        <strong
          >{{ dcf.symbol.toUpperCase() }} is trading below its intrinsic value
          by more than 15%
        </strong>
      </p>
      <p class="bad" *ngIf="ratio < -0.15">
        <strong
          >{{ dcf.symbol.toUpperCase() }} is trading above its intrinsic value
          by more than 15%</strong
        >
      </p>
      <p>
        Click
        <a
          href="https://www.investopedia.com/terms/i/intrinsicvalue.asp"
          target="_blank"
          >here</a
        >
        to learn more about Intrinsic Value
      </p>
    </div>
  </div>
  <p *ngIf="!validDcf">
    Sorry for the inconvenience. We were not able to compute the Intrinsic Value
  </p>
</mat-expansion-panel>
