<mat-card class="stock-profile" *ngIf="profile">
  <mat-card-header>
    <img mat-card-avatar [src]="profile.image" [alt]="profile.companyName" />
    <mat-card-title>{{ profile.companyName }}</mat-card-title>
    <mat-card-subtitle
      >{{ profile.exchangeShortName }}:{{ profile.symbol }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content class="content">
    <p>
      <span>CEO</span>
      <span class="value">{{ profile.ceo }}</span>
    </p>
    <p>
      <span>Market Cap.</span>
      <span class="value">{{ profile.mktCap | marketCap }}</span>
    </p>
    <p>
      <span>Beta</span>
      <span class="value">{{ profile.beta }}</span>
    </p>
    <p>
      <span>Sector</span>
      <span class="value">{{ profile.sector }}</span>
    </p>
    <p>
      <span>Industry</span>
      <span class="value">{{ profile.industry }}</span>
    </p>
    <p>
      <span>Headquaters</span>
      <span class="value">{{ profile.city }} - {{ profile.country }}</span>
    </p>
    <p>
      <span>Employees</span>
      <span class="value">{{ profile.fullTimeEmployees }}</span>
    </p>
    <p>
      <span>IPO Date</span>
      <span class="value">{{ profile.ipoDate }}</span>
    </p>
    <details>
      <summary>Description</summary>
      <p>{{ profile.description }}</p>
    </details>
  </mat-card-content>
</mat-card>
