/* You can add global styles to this file, and also import other style files */

// @import "@angular/material/prebuilt-themes/purple-green.css";

$primary: #009688;
$secondary: #9c27b0;
$app-white: #fafafa;
$app-black: #4a4a4a;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
